<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolher Login</title>
</head>
<body>
    <h1>Escolha seu tipo de login</h1>
    <a href="/login/gerente">Login Gerente</a>
    <a href="/login/mecanico">Login Mecânico</a>
</body>
</html>