<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel do Gerente</title>
</head>
<body>
    <h1>Painel do Gerente</h1>
    <p><a href="/gerente/mecanico/cadastro">Cadastro mecanico</a></p>
    <p><a href="/gerente/mecanico/listar">listar mecanicos para folha salarial</a></p>
    <p>excluir mecanico -> FEITO NA LISTAGEM</p>
    <p>modificar mecanico -> FEITO NA LISTAGEM</p> 
    <p><a href="/gerente/gerentes/cadastro">cadastro gerente</a></p>
    <p><a href="/gerente/gerentes/listar">listar gerente</a></p>
    <p>excluir gerente e modificar gerente</p>
    <p><a href="/gerente/pecas/cadastro">Cadastro de pecas</a></p> 
    <p><a href="/gerente/pecas/listar">Listar Pecas</a></p>
    <p>acesso aos pedidos de pecas mas isso depois</p>
    <p><a href="/gerente/servicos/listar">listagem dos servico para balanceamento dos lucro e custo</a></p>
    <p>Listagem de solicitações de pecas <a href="/gerente/pecas/solicitacoes">Clique aqui</a></p>
    <p>Listar as solicitacoes de servico <a href="/gerente/servicos/solicitacoes">Clique Aqui</a></p>
    <p>Listar os servicos <a href="/gerente/servicos/listarServicos">Clique Aqui</a></p>
</body>
</html>


