<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel do Gerente</title>
</head>
<body>
    <h1>Painel do Gerente</h1>
    <a href="/gerente/servicos">Lista de Serviços</a>
    <a href="/gerente/pecas">Lista de Peças</a>
    <a href="/gerente/veiculos">Lista de Veículos</a>
</body>
</html>