<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cadastro de veiculo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Cadastro de Veículo</h1>
    <form action="/mecanico/veiculo" method="POST">
        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo" required>
        <br>
        <label for="marca">Marca:</label>
        <input type="text" id="marca" name="marca" required>
        <br>
        <label for="ano">Ano:</label>
        <input type="number" id="ano" name="ano" required>
        <br>
        <label for="id_cliente">ID do Cliente:</label>
        <input type="number" id="id_cliente" name="id_cliente" required>
        <br>
        <button type="submit">Cadastrar Veículo</button>
    </form>
</body>
</html>