<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/gerente/mecanico/cadastro" method="post"> <!-- Gerenciado pela entidade Gerente-->
        <label for="nome">Nome:
            <input type="text" name="nome" id="nome">
        </label>
        <label for="email">Email:
            <input type="text" name="email" id="email">
        </label>
        <label for="telefone">Telefone:
            <input type="text" name="telefone" id="telefone">
        </label>
        <label for="senha">Senha:
            <input type="text" name="senha" id="senha">
        </label>
        <label for="especialidade">Especialidade:
            <input type="text" name="especialidade" id="especialidade">
        </label>
        <label for="salario">Salario: 
            <input type="number" name="salario" id="salario" placeholder="">
        </label>
        <label for="comissao">Comissao:
            <input type="number" name="comissao" id="comissao" placeholder="Em porcentagem, ex: 0.05 para 05%">  <!-- em porcentagem -->
        </label>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>