<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel do Mecânico</title>
</head>
<body>
    <h1>Painel do <%= Mecanico.nome %></h1>
    <p>Bem-vindo, Mecânico!</p>
    <p>Cadastro de veiculos <a href="/mecanico/veiculo">Clique aqui</a></p>
    <p>Listar veiculos <a href="/mecanico/veiculos">Clique aqui</a></p>
    <p>Cadastro clientes <a href="/mecanico/cliente">Clique aqui</a></p>
    <p>Listar clientes <a href="/mecanico/clientes">Clique aqui</a></p>
    <p>Solicitar servicos <a href="/mecanico/servico">Clique aqui</a></p>
    <p>Listar servicos <a href="/mecanico/servicos">Clique aqui</a></p>
    <p>Pedido de pecas <a href="/mecanico/pecas">Clique aqui</a></p>
</body>
</html>