<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel do Mecânico</title>
</head>
<body>
    <h1>Painel do <%= Mecanico.nome %></h1>
    <p>Bem-vindo, Mecânico!</p>
    <p>Cadastro de veiculos</p>
    <p>Cadastro clientes</p>
    <p>Vizualizar servicos</p>
    <p>Pedido de pecas</p>
</body>
</html>